body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.HeroSection {
    font-weight: 600;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
}

.navbar {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: linear-gradient(90deg, rgba(44, 44, 44, 0.9), rgba(44, 44, 44, 0.9), rgba(69, 26, 62, 0.9));
    padding: 0px 50px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 80;
}

.navbar div {
    background-image: url("./assets/logo.png");
    width: 90px;
    height: 45px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.navbar ul {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    transition: all 0.3s ease;
}

.navbar ul li a {
    color: white !important;
    text-decoration: none;
    font-weight: 300;
}

.navbar span {
    display: none;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.main .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
} 

 .main .background video {
    width: 100%;
    top:30%;
    height: 100%;
    object-fit: cover; 
}

/* 
@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

.stars,
.twinkling,
.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: block;
}

.stars {
    background: #000 url(./assets/stars.png) repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(./assets/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twink-back 200s linear infinite;
}

.clouds {
    background: transparent url(./assets/clouds.png) repeat top center;
    z-index: 2;
    opacity: .4;
    animation: move-clouds-back 200s linear infinite;
} */

.main h1 {
    width: 65%;
    font-size: 5vw;
    line-height: 6.5vw;

    display: block;
    position: relative;
    z-index: 3;
    background: -webkit-linear-gradient(#e0b1cb, #e0b1cb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5vw;
}

.main p {
    width: 65%;
    font-size: 1.55vw;
    margin-bottom: 8vh;
    font-weight: 400;
    z-index: 3;
    color: gray;
}

.main a {
    font-size: 1.35vw;
    z-index: 4;
}

.main a>button {
    font-weight: 600;
    z-index: 4;
    padding: 0.75em 1.25em;
    border-radius: 10px;
    background: linear-gradient(90deg, #451a3e, #451a3e);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.main a>button:hover {
    transform: scale(1.05);
}

@media (max-width: 1200px) {
    .main h1 {
        font-size: 5.25vw;
        width: 80%;
        line-height: 12vh;
        margin-bottom: 3vh;
    }

    .main p {
        font-size: 1.65vw;
        width: 80%;
        margin-bottom: 6vh;
    }

    .main a {
        font-size: 1.25vw;
    }

    .main a>button {
        padding: 2.70vh 2.70vw;
    }
}

@media (max-width: 767px) {
    .main h1 {
        font-size: 5.75vw;
        width: 80%;
        line-height: 9.5vh;
        margin-bottom: 2.75vh;
    }

    .main p {
        font-size: 3.5vw !important;
        width: 80%;
        margin-bottom: 5.5vh;
    }

    .main a {
        font-size: 1.45vw;
    }

    .main a>button {
        font-size: 3vw;
    }

    .navbar {
        height: 60px;
    }

    .navbar ul {
        width: 20%;
    }

    .navbar ul li {
        display: none;
        width: 30%;
    }

    .navbar span {
        display: block;
    }

    .navbar ul.open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 38%;
        min-height: calc(100vh - 60px);
        background: linear-gradient(90deg, #2c2c2c, #2c2c2c, #451a3e);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0;
    }

    .navbar ul.open li {
        display: block;
        padding: 10px 0 10px 45px;
    }

    .navbar ul.open li a {
        font-size: 18px;
    }

    .menu-icon {
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    .main h1 {
        font-size: 8vw;
        width: 80%;
        line-height: 8vh;
        margin-bottom: 3vh;
    }

    .main p {
        font-size: 2.5vw;
        width: 80%;
        margin-bottom: 6vh;
    }

    .main a {
        font-size: 2.5vw;
    }

    .main a>button {
        padding: 2.60vh 2.60vw;
    }
}

@media (max-width: 450px) {
    .main h1 {
        font-size: 9.5vw;
        width: 80%;
        line-height: 7vh;
        margin-bottom: 3vh;
    }

    .main p {
        font-size: 3.5vw;
        width: 80%;
        margin-bottom: 6vh;
    }

    .main a {
        font-size: 4vw;
    }

    .main a>button {
        padding: 2.5vh 2.5vw;
    }
}