.Pricing {
    width: 100%;
    padding: 4rem 4rem;
    background: linear-gradient(to right, #000000, #000000, #451a3e);
    color: white;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.Pricing h2 {
    font-size: 2.5vw;
    margin-bottom: 2rem;
    color: white;
    font-weight: 900;
}

.pricing-table {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 15vh;
}

.pricing-tier {
    width: 30%;
    padding: 2rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.pricing-tier.in-view {
    opacity: 1;
    transform: translateY(0);
}

.pricing-tier h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.pricing-tier p {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #e0e0e0;
    height: 6vw;
}

.pricing-tier .price {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
    background: -webkit-linear-gradient(right, #e0b1cb, #e0b1cb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: auto;
}

.cta-button {
    padding: 0.75em 1.5em;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #451a3e;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #451a3e;
    transform: scale(1.05);
}

.Pricing .pricing-comparison {
    margin-top: 2rem;
}

.Pricing .pricing-comparison table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    color: white;
}

.Pricing .pricing-comparison th,
.Pricing .pricing-comparison td {
    padding: 0.75em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}

.Pricing .pricing-comparison th {
    background: #444;
}

.Pricing .pricing-comparison tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.05);
}

@media (max-width: 767px) {
    .Pricing h2 {
        font-size: 7vw;
    }

    .pricing-table {
        flex-wrap: wrap;
    }

    .pricing-tier {
        width: 60%;
    }

    .pricing-tier p {
        height: 10vw;
    }

}